<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container center">
    <h4 class="align-middle">Vehicle</h4>
    <form action="#" th:action="@{/vehicles/saveOrUpdateByModel}" th:object="${vehicle}" method="post" class="form">
        <table class="table">
            <tr>
                <td>
                    <label for="vin">VIN: </label>
                </td>
                <td>
                    <input id="vin" th:value="*{VIN}" type="text" th:field="*{VIN}"/>
                    <input th:value="${vehicle.getVehicleId()}" hidden="hidden" type="text" name="vehicleId"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="plate">Plate Number: </label>
                </td>
                <td>
                    <input id="plate" th:value="${vehicle.getPlateNumber()}" type="text" name="plateNumber"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="regDate">Date of Registration: </label>
                </td>
                <td>
                    <input id="regDate" th:value="${vehicle.getDateOfRegistration()}" type="text"
                           name="dateOfRegistration"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="type">Vehicle Type: </label>
                </td>
                <td>
                    <input id="type" th:value="${vehicle.getVehicleTypeModel().getName()}" type="text"
                           name="vehicleTypeModel.name"/>
                    <input th:value="${vehicle.getVehicleTypeModel().getVehicleTypeId()}"
                           hidden="hidden" name="vehicleTypeModel.vehicleTypeId"/>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-secondary" href="/vehicles/findAllModels">Close and go back</a>
                </td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Save"/>
                </td>
            </tr>
        </table>
    </form>
    <ul>
        <li th:each="err : ${errors}" th:text="${err.defaultMessage}" class="text-danger"></li>
        <li th:if="${runtimeError}" th:text="${runtimeError}" class="text-danger"></li>
        <li th:if="${success}" th:text="${success}" class="text-info"></li>
    </ul>
</div>
</body>
</html>